{% extends "base.html.twig" %}

        {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="style/solicitudes.css">
        {% endblock %}
{% block body %}
<div class="tabla">
<table>
<thead>
<tr>
<th> Nombre</th>
<th> Email</th>
<th> Ciudad</th>
<th></th>
</tr>
</thead>
{% for nombre in nombres %}
<tr>
<td> <span>{{nombre.nombre}}</span> </td>
<td> <span>{{nombre.email}}</span></td>
<td><span>{{nombre.ciudad}}</span></td>
<td><a href="solicitudes/borrar/{{nombre.id}}"><img src="assets/img/borrar.png" class="borrar"></a></td>

</tr>
{% endfor %}
</table>
</div>
{% endblock %}
